doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/foundation.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class='masthead')
      img(src='')
    div(class='row navigation')
      ul(class='nav-ul menu horizontal left-nav')
        li(class='item')
          a(class='link') Home
        li(class='item')
          a(class='link') About
        li(class='item')
          a(class='link') Contact
    div(class='row')
      block content

    script(src='/javascripts/jquery.js')
    script(src='/javascripts/foundation.min.js')
    script(src='/javascripts/what-input.js')
